.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    flex-grow: 1;
    width: auto !important;
    margin-right: 20px !important;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 2px !important;
}

.swiper-scrollbar-drag {
  background: #f50963 !important;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  padding: 51px 0;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 25px !important;
  top: auto !important;
}
